.about {
  margin: 20px;
}

strong{
color: rgb(7,54,44);
}

footer {
    position: fixed; /* stickey*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7,54,44);
    color: white;
    text-align: center;
    font-size: small;
    font-family: monospace;
  }

  img  {
    border: 2px solid #25283d;
    border-radius: 3px;
    height: 100px;
    width: 110px;
    justify-content: left;
  }
  
.card{
display: flex;
}

.info-container{
  text-align: center;
  margin:auto
}
body{
  font-family: 'Eagle Lake';
}

.about-message {
  background-color: rgba(255, 227, 227, 0.934);
  width: 100%;
}

.paragraph-wrapper {
  padding: 0 5px 5px 5px;
}
 h2{
  padding: 10px 0 0 0;
 }